
modules = ["nodejs-20:v8-20230920-bd784b9"]
run = "npm run dev"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_11"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[deployment.cloudrun]
memory = "512Mi"
cpu = "1"
minInstances = 0
maxInstances = 1

[deployment.env]
NODE_ENV = "production"

[permissions]
advancedUser = true
createFile = true
createFolder = true
